@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
body{
	font-family: "Lexend Deca", sans-serif;
	background-color: green;
	color: black;
	text-align: center;
}
header{
	text-align: left;
}
a:link{
	color: black;
}
a:visited{
	color: gray;
}
a:hover{
	color: darkgreen;
}
a:active{
	color: white;
}
hr{
	border-color: black;
	background-color: black;
	color: black;
}