@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
body{
	font-family: "Lexend Deca", sans-serif;
	background-color: green;
	color: black;
	text-align: center;
	font-size: 2em;
}
header > .left{
	text-align: left;
	float: left;
	vertical-align: top;
}
header > .right{
	text-align: right;
	float: right;
	vertical-align: top;
}
header > a{
	color: Black;
	text-decoration: none;
}
hr{
	border-color: black;
	background-color: black;
	color: black;
}
footer{
	font-size: .5em;
}