@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
body{
	font-family: "Lexend Deca", sans-serif;
	background-color: green;
	color: black;
	text-align: center;
	font-size: 2em;
}
header{
	text-align: left;
}
a{
	color: Black;
	text-decoration: none;
}
hr{
	border-color: black;
	background-color: black;
	color: black;
}