@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-thumb{
	background: black;
}
body{
	font-family: "Lexend Deca", sans-serif;
	background-color: #1CC534;
	color: black;
	text-align: center;
	font-size: 2em;
}
header > .left{
	text-align: left;
	float: left;
	vertical-align: top;
}
header > .right{
	text-align: right;
	float: right;
	vertical-align: top;
}
a.normal{
	color: Black;
	text-decoration: none;
}
hr{
	border-color: black;
    border-style: double;
	background-color: black;
	color: black;
}
footer{
	font-size: .5em;
}
iframe{
	background-color: white;
}
.hidden{
	visibility: hidden;
}
